.layout {
  display: flex;
  flex-grow: 1;
}

.layout .custom {
  position: absolute;

  img {
    width: 100%;
  }
}

.customlayout {
  position: relative;
}

.customelm {
  position: absolute;
}

.customelm img {
  width: 100%;
}
